VITE_NOTIFICATIONS_VAPID_PUBLIC_KEY="BBtWvvsAnuDoO48_QGjRhtDlWdImdO1cKDAi12n9oTEH0f1p3aYgXxhBR1RdvgvOyYAedj8NugrDysc-d1-syzE"
VITE_NOTIFICATIONS_URL=http://localhost:8000/notifications

VITE_BASE_BACKEND_API_URL=http://localhost:8000/
VITE_BASE_FRONTEND_URL=http://localhost:3000/

VITE_FRIENDS_MANAGE_URL=http://localhost:8000/admin/friends/coordimeetfriend/
VITE_LOGIN_URL=http://localhost:8000/admin/
VITE_LOGOUT_URL=http://localhost:8000/admin/logout/
