VITE_NOTIFICATIONS_VAPID_PUBLIC_KEY="BLZeQQwE2NUWBwlUeXqe2pzlUY8u4-RXZD3t0TucpuEO9FXqL4u0coROilQDoOw61FUEhR4Azeklu8w01txe6pg"
VITE_NOTIFICATIONS_URL=http://localhost:8000/coordimeet/notifications/

VITE_BASE_BACKEND_API_URL=http://localhost:8000/coordimeet/
VITE_BASE_FRONTEND_URL=http://localhost:3000/

VITE_FRIENDS_MANAGE_URL=http://localhost:8000/friends/
VITE_LOGIN_URL=http://localhost:8000/login/?after=http://localhost:3000/
VITE_LOGOUT_URL=http://localhost:8000/logout/
