# Database access
DB_HOSTNAME=host.docker.internal
DB_DATABASE=coordimeet
DB_USERNAME=coordimeet
DB_PASSWORD=SomeUnsafePassword
DB_PORT=5454

# Redis cache
CACHE_PORT=6379
CELERY_BROKER_URL="redis://cache:6379/0"
CELERY_RESULT_BACKEND="redis://cache:6379/0"

# Django
DJANGO_SECRET_KEY="django-insecure-secret-key"

# WebPush
# Generate from https://web-push-codelab.glitch.me/
VITE_VAPID_PUBLIC_KEY="VAPID_PUBLIC_KEY"
VAPID_PRIVATE_KEY="VAPID_PRIVATE_KEY"
VAPID_ADMIN_EMAIL=""

# Location and ports of the application
VITE_BACKEND_URL="http://127.0.0.1:8000"
VITE_FRONTEND_URL="https://localhost:3000"
BACKEND_PORT=8000
FRONTEND_PORT=3000

