version: '3'

services:
  cache:
    container_name: coordimeet-cache
    image: redis:latest
    ports:
      - "${CACHE_PORT}:6379"
    volumes:
      - ./cache:/data
    env_file:
      - .env

  backend:
    container_name: coordimeet-backend
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "${BACKEND_PORT}:8000"
    depends_on:
      - cache
    env_file:
      - .env

  celery:
    container_name: coordimeet-celery
    build:
      context: ./backend
      dockerfile: DockerfileCelery
    volumes:
      - ./backend:/app
    depends_on:
      - cache
    env_file:
      - .env

  frontend:
    container_name: coordimeet-frontend
    build:
      context: ./frontend
    ports:
      - "${FRONTEND_PORT}:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules
    env_file:
      - .env

volumes:
  db-data:
    driver: local
  node_modules:
