Django==4.2.27
djangorestframework==3.16.1
django-cors-headers==4.9.0
python-dotenv==1.2.1

redis==7.1.0
celery==5.6.0

wonderwords==3.0.1
icalendar==6.3.2
git+https://github.com/Yxmaxy/django-simple-notifications.git@v1.1.1
