$color-main: #41B9D6;
$color-text: #141414;
$color-top-bottom: #b7e1eb;
$color-background: #f2feff;
$color-background-2: #bbdadf;
$color-background-3: #c8e9ee;
$color-aside: #e1e9eb;
$color-details: #575757;
